<html>
    <head>
        <title>Basic</title>
        @RenderSection("customstyles", required: false)
    </head>
    <body>
        <h1>This is so basic</h1>
        @Html.Partial("Surprise")
        @RenderBody()
    </body>
</html>