@model CmsFramework.Controllers.PageRenderModel


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Render</title>
</head>
<body>
    <div> 
        some content

    </div>
</body>
</html>