* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}
:root {
  background-color: rgba(43, 3, 81, 0.641);
}
.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  font-family: sans-serif;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.card {
  display: flex;
  width: 300px;
  height: 100%;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  padding: 10px;
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
}

.image {
  padding: 10px;
  border-radius: 100%;
  margin-bottom: 3px;
}

.image img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: 0;
  padding: 0;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 0;
}
.info p {
  font-size: 15px;
  margin: 0;
  padding: 0;
}
.info h2 {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.position {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 700;
  width: 50%;
}

.about-me {
  margin-bottom: 10px;
  padding: 10px;
  width: 60%;
}
.about-me h2 {
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 0;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
  text-align: left;
}

.about-me p {
  text-align: justify;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.skillZ {
  width: 60%;
  margin: 20px;
  padding: 0;
}
.skillZ h2 {
  font-size: 14px;
  text-align: start;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 0;
  padding: 0;
}
.skillZ ul {
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0;
}
.skill {
  padding: 0;
  margin: 0;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
